{
    "source":{
        "sql":"select t.* from (select s.*,row_number() over(partition by JZLSH,YLJGDM order by s.tbrq desc) as num from rkjk.mz_jzjlb_new s ) t where t.num = 1 ",
        "args":[]
    },
    "sink":{
        "hbase":{
            "table_name":"rkjk:mz_jzjlb_hbase",
            "familys":[
                {
                    "family_name":"MAJOR",
                    "block_size":"16384",
                    "presplit_count":7,
                    "columns":[
                        "YLJGDM","JZLSH","KLXDM","KHM","ZJHM","ZJLX","PCH","YYPCH","XZQH"
                      ]
                }
            ],
            "default_family":{
                "family_name":"MINOR",
                "block_size":"65536"
            },
            "row_key":{
                "pattern":"?_?",
                "args":[
                    "JZLSH","YLJGDM"
                ]
            }
        }
    }
}