{
    "source":{
        "sql":"select concat_ws(\"_\",t.jzlsh,t.yljgdm) as fkey,t.* from rkjk.ryjl_ryswjl_new t",
        "args":[]
    },
    "sink":{
        "elasticsearch":{
            "hosts":[
                {
                    "hostname":"10.110.14.126",
                    "port":8083
                },{
                    "hostname":"10.110.14.127",
                    "port":8083
                },{
                    "hostname":"10.110.14.128",
                    "port":8083
                },{
                    "hostname":"10.110.14.129",
                    "port":8083
                },{
                    "hostname":"10.110.14.130",
                    "port":8083
                }
            ],
            "index":"gsww_ryjl_ryswjl",
            "type":"zy",
            "id":{
                "pattern":"?_?",
                "args":[
                    "JZLSH","YLJGDM"
                ]
            }
        }
    }
}
