{
    "source":{
        "sql":"select t.* from (select s.*,row_number() over(partition by YYDAH,YLJGDM order by s.tbrq desc) as num from rkjk.jc_hzjbxxb_new s ) t where t.num = 1 ",
        "args":[]
    },
    "sink":{
        "hbase":{
            "table_name":"rkjk:jc_hzjbxxb_hbase",
            "presplit_count":7,
            "familys":[
                {
                    "family_name":"MAJOR",
                    "block_size":"16384",
                    "columns":[
                        "YLJGDM","YYDAH","KH","KLX","ZJHM","ZJLX","XB","XM","PCH","YYPCH","XZQH"
                      ]
                }
            ],
            "default_family":{
                "family_name":"MINOR",
                "block_size":"65536"
            },
            "row_key":{
                "pattern":"?_?",
                "args":[
                    "YYDAH","YLJGDM"
                ]
            }
        }
    }
}