{
    "source":{
        "sql":"select t.* from (select s.*,row_number() over(partition by JCLSH,YLJGDM order by s.tbrq desc) as num from rkjk.jtbc_djb s where s.tbrq>='2019-02-01 00:00:00') t where t.num = 1 ",
        "args":[]
    },
    "sink":{
        "hbase":{
            "table_name":"rkjk:jtbc_djb_hbase",
            "presplit_count":7,
            "familys":[
                {
                    "family_name":"MAJOR",
                    "block_size":"16384",
                    "columns":[
                        "YLJGDM","JCLSH","YYPCH","PCH","XZQH"
                      ]
                }
            ],
            "default_family":{
                "family_name":"MINOR",
                "block_size":"65536"
            },
            "row_key":{
                "pattern":"?_?",
                "args":[
                    "JCLSH","YLJGDM"
                ]
            }
        }
    }
}