{
    "source":{
        "sql":"select t.* from (select s.*,row_number() over(partition by YWRQ,YLJGDM order by s.tbrq desc) as num from rkjk.tj_zlbg_sysjysl_new s ) t where t.num = 1 ",
        "args":[]
    },
    "sink":{
        "hbase":{
            "table_name":"rkjk:tj_zlbg_sysjysl_hbase",
            "presplit_count":7,
            "familys":[
                {
                    "family_name":"MAJOR",
                    "block_size":"16384",
                    "columns":[
                        "YLJGDM","YWRQ","YYPCH","PCH","XZQH"
                      ]
                }
            ],
            "default_family":{
                "family_name":"MINOR",
                "block_size":"65536"
            },
            "row_key":{
                "pattern":"?_?",
                "args":[
                    "YWRQ","YLJGDM"
                ]
            }
        }
    }
}