{
    "source":{
        "sql":"select t.* from (select s.*,row_number() over(partition by CJRQ,YLJGDM,CJSJ,BQBM order by s.tbrq desc) as num from rkjk.tj_ssyw_cwzyqk_new s ) t where t.num = 1 ",
        "args":[]
    },
    "sink":{
        "hbase":{
            "table_name":"rkjk:tj_ssyw_cwzyqk_hbase",
            "presplit_count":7,
            "familys":[
                {
                    "family_name":"MAJOR",
                    "block_size":"16384",
                    "columns":[
                        "YLJGDM","CJRQ","CJSJ","BQBM","YYPCH","PCH","XZQH"
                      ]
                }
            ],
            "default_family":{
                "family_name":"MINOR",
                "block_size":"65536"
            },
            "row_key":{
                "pattern":"?_?_?_?",
                "args":[
                    "CJRQ","YLJGDM","CJSJ","BQBM"
                ]
            }
        }
    }
}